@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
  max-width: 100vw;
}

.fa-solid,.fa-regular {
  color: grey;
}

input[type="text"],label {
  border: none;
  outline: none;
  width: 85%;
  cursor: pointer;
}

.fa-arrow-turn-down {
  rotate: 90deg;
}

input[type="text"]::placeholder {
  font-style: italic;
  border: none;
}

.task-checkbox {
  cursor: pointer;
}

.clear {
  color: #8e8e8e;
}

.fa-ellipsis-vertical,
.clear {
  cursor: pointer;
}

.task-container {
  border: 1px solid #888;
  box-shadow: 0 0 8px #888;
}
