@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
}

.fa-solid{
  color: grey;
}

input[type="text"] {
  border: none;
  outline: none;
}

.fa-arrow-turn-down{
  rotate: 90deg;
}

input[type="text"]::placeholder{
  font-style: italic;
  border: none;
}

.task-checkbox{
  cursor: pointer;
}

.clear{
  color: #8e8e8e;
}


.fa-ellipsis-vertical , .clear{
  cursor: pointer;
}
.task-container{
  border: 1px solid #888888;
  box-shadow: 0px 0px 8px #888888;
}
